header {
    background-color: rgb(43, 43, 107);
    color : #fff;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}
.container-fluid{
    background-color: rgb(179, 156, 200);
    padding: 0.5rem;
}

#city-search {

}

#weather-data{
    width:75%;
    /* background-color: orange; */
    
}

.card{
    background-color: blanchedalmond;
    margin: 0.1rem;
}



button {
    margin: 0.2rem
}

#fivedays{
    /* background-color: blue; */
    justify-items: center;
}

.daycard{
    display: inline-block;
    max-width: 18%;
}

.card-body ul {
    list-style: none;
    padding-left: 0;
}

.search-buttons-list{
    list-style: none;
    padding-left: 0;
}

@media only screen and and(max-width: 580px) {
    #weather-data{
        display:block;
        background-color: yellow;
        
    }
    
    .daycard{
        display: block;
        width: 100%
    
    }

}

